/* For Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 3px; /* Rounded corners for the thumb */
}


#chatdemo-container {
  background-color: #ffffff;
  width: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  margin: 0px 0px 65px;
}

#chatdemo-container .widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65vh;
}

#chatdemo-container .reload {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#chatdemo-container .chat-widget {
  height: 50vh;
  overflow: auto;
}

#chatdemo-container .chat-content {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1.75;
  display: flex;
  flex-direction: column;
}

#chatdemo-container .chat-content::-webkit-scrollbar {
  display: none;
}

#chatdemo-container .message {
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  text-align: left;
}

#chatdemo-container .message.user {
  background-color: rgb(79, 69, 228);
  color: white;
  align-self: flex-end;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  margin-left: 10%;
}

#chatdemo-container .message.bot {
  background-color: #f4f4f5;
  color: #4b5563;
  align-self: flex-start;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  margin-right: 10%;
}

#chatdemo-container .input-container {
  display: flex;
  margin-top: 0.5rem;
  bottom: 25px;
  background-color: white;
  z-index: 1;
  padding: 4px 4px 4px 12px;
  border-radius: 0.25rem;
  border: 1px solid #e4e4e7;
  align-items: center;
}

#chatdemo-container input[type="text"] {
  flex: 1 1 0%;
  padding: 0;
  margin: 0;
  line-height: 1.25rem;
  font-size: 0.875rem;
  border: unset;
  height: 36px;
}

#chatdemo-container input[type="text"]:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#chatdemo-container .send-button {
  border: unset;
  background: unset;
}

#chatdemo-container .help-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 8px;
  margin-bottom: 15px;
  margin-left: 2px;
  bottom: 50px; /* height of the input container */
}

#chatdemo-container .help-box {
  background-color: #f4f4f5;
  border-radius: 0.5rem;
  padding: 8px 12px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  margin-top: 50px;
  color: #4b5563;
  font-size: 14px;
}

#chatdemo-container .loader {
  width: 64px;
  height: 44px;
  position: relative;
  border: 5px solid #959394;
  border-radius: 28px 28px 28px 0px;
}
#chatdemo-container .loader::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 28px;
  border-radius: 50% 50% 0 0;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
}
#chatdemo-container .loader::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #959394;
  box-shadow: 16px 0 #959394, -16px 0 #959394;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: rgba(149, 147, 148, 0.25);
    box-shadow: 16px 0 rgba(149, 147, 148, 0.25), -16px 0 rgba(149, 147, 148, 1);
  }
  50% {
    background-color: rgba(149, 147, 148, 1);
    box-shadow: 16px 0 rgba(149, 147, 148, 0.25),
      -16px 0 rgba(149, 147, 148, 0.25);
  }
  100% {
    background-color: rgba(149, 147, 148, 0.25);
    box-shadow: 16px 0 rgba(149, 147, 148, 1), -16px 0 rgba(149, 147, 148, 0.25);
  }
}

#chatdemo-container .profileicon {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 18px;
  margin-right: 5px;
}

#chatdemon-container .displayname {
  font-weight: bold;
  font-size: 18px;
}
